cust/app/customized/partner-video.like_111/partner-video.like_111.apk
system/system/product/priv-app/Velvet/Velvet.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/system_ext/priv-app/Settings/Settings.apk
